<h2>Update the movies</h2>
<hr>

<div>
  <form method='POST' action='/profile/edit/{{movie._id}}'>

    <div>
      <label>Title: </label>
      <input name='Title' type='text' value='{{movie.Title}}'>
    </div>

    <div>
      <label>Actors: </label>
      <input name='Actors' type='text' value='{{movie.Actors}}'>
    </div>

    <div>
      <label>Image</label>
      <input name='Image' type='image' value='{{movie.Image}}'>
    </div>

    <button type='submit'>Submit</button>

    <form method='POST' action='/drones/delete/{{this._id}}'>
      <button type='submit'>Delete</button>
    </form>

  </form>
</div>