<div id="profile-page">
     <h1>
      Welcome
      {{user.username}}          
    </h1>
  <div id="profile-body">  
    {{#each allMoviesList}}
        <div class="before-each">
            <h3>{{this.Title}}</h3>
            <img src="{{this.Image}}" alt="" class="img-size" />
            <h6>{{this.Actors}}</h6>
            <button><a href="/profile/edit/{{this._id}}">Edit</a></button> 
        </div>
    {{/each}}
  
    {{!-- <form action="/logout" method="post">
      <button type="submit">Logout</button>
    </form> --}}
  </div>
</div>